[Desktop Entry]
Version=1.0
Type=Link
Name="Gut drauf trotz Social Media – Die Kunst des Trollens" Zündfunk Netzkongress Linus Neumann - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=jOhWZOn_IWY
