[Desktop Entry]
Version=1.0
Type=Link
Name=34C3 - Security Nightmares 0x12 - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=3stPAi455fM
