[Desktop Entry]
Version=1.0
Type=Link
Name=35C3 - Du kannst alles hacken – du darfst dich nur nicht erwischen lassen. - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=dTQAO7M5Gp8
