[Desktop Entry]
Version=1.0
Type=Link
Name=35C3 - (Cyber-)Stalking: Wenn Grenzen verschwimmen - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=DTW20cll0cY
