[Desktop Entry]
Version=1.0
Type=Link
Name=Ron, frank: Security Nightmares 0x10 - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=Q7yJudmh_Ek
