[Desktop Entry]
Version=1.0
Type=Link
Name=Vera F. Birkenbihl - Humor in unserem Leben - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=luk8x1szxrE
