[Desktop Entry]
Version=1.0
Type=Link
Name=30C3 - Bullshit made in Germany by Linus Neumann - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=p56aVppK2W4
