[Desktop Entry]
Version=1.0
Type=Link
Name=34C3 - Social Bots, Fake News und Filterblasen - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=6jNWl5d_DOk
