[Desktop Entry]
Version=1.0
Type=Link
Name=David Kriesel: Traue keinem Scan, den du nicht selbst gefälscht hast - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=7FeqF1-Z1g0
