[Desktop Entry]
Version=1.0
Type=Link
Name=Easterhegg 2018 - Wenn der Dorfpolizist sturmklingelt - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=mGj5Hp354js&feature=youtu.be
