[Desktop Entry]
Version=1.0
Type=Link
Name=Linus Neumann: Trolle werden trollen #eh16 - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=0kBhvM9OIaI
