[Desktop Entry]
Version=1.0
Type=Link
Name=Mathias Dalheimer: Wie man einen Blackout verursacht - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=yaCiVvBD-xc
