[Desktop Entry]
Version=1.0
Type=Link
Name=SpiegelMining – Reverse Engineering von Spiegel-Online (33c3) - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=-YpwsdRKt8Q
